.benefits-list {
    @extend %list;
    display: flex;
    &__item {
        width: 270px;
    }
    &__icon-bg {
        @include centredFlex(flex);
        
        max-width: 270px;
        height: 120px;
        
        margin-bottom: 30px;
        background-color: #f5f4fa;
        
        border-radius: 4px;
    }
    &__titel {
        @extend %titel;

        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__text {
        @extend %text;

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}
.benefits-list .benefits-list__item + .benefits-list__item {
    margin-left: 30px;
}
