.social-list {
    @extend %list;
    display: flex;
    justify-content: center;
    
    &__item {
        width: 44px;
        height: 44px;
    }    
}
.social-list .social-list__item + .social-list__item {
    margin-left: 10px;
}